
.content7{
    width: 80vw;
    margin: 0 auto;
    border-radius: 120px 0px;
    overflow: hidden;
    box-shadow: 1px 1px 8px var(--light-gray-color);
    margin-bottom: 5rem;
}

.content7_div{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}

.content7_left{
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.content7_left p{
    font-size: 2.5rem;
    font-weight: bold;
}

.content7_left_img{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.content7_left img{
    height: 50px;
}

.content7_right img{
    margin-top: 10px;
    height: 650px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content7{
        width: 90vw;
        margin-bottom: 4rem;
    }
    .content7_div{
        height: 300px;
    }
    .content7_left{
        width: 56%;
    }
    .content7_left p{
        font-size: 2rem;
    }
    .content7_left img{
        height: 40px;
    }    
    .content7_right img{
        height: 500px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .content7{
        width: 90vw;
        border-radius: 90px 0px;
        margin-bottom: 3rem;
    }
    .content7_div{
        height: 200px;
    }
    .content7_left{
        width: 56%;
        gap: 2rem;
    }
    .content7_left p{
        font-size: 1.2rem;
    }
    .content7_left img{
        height: 25px;
    }    
    .content7_right img{
        height: 300px;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .content7{
        width: 90vw;
        border-radius: 70px 0px;
        margin-bottom: 3rem;
    }
    .content7_div{
        height: 150px;
    }
    .content7_left{
        width: 56%;
        gap: 1.5rem;
    }
    .content7_left p{
        font-size: 1rem;
    }
    .content7_left img{
        height: 20px;
    }    
    .content7_right img{
        height: 250px;
    }
}
@media (max-width: 374px) {
    .content7{
        width: 90vw;
        border-radius: 50px 0px;
        margin-bottom: 2rem;
    }
    .content7_div{
        height: 130px;
    }
    .content7_left{
        width: 56%;
        gap: 1.2rem;
    }
    .content7_left p{
        font-size: 0.8rem;
    }
    .content7_left img{
        height: 18px;
    }    
    .content7_right img{
        height: 220px;
    }
}